{% capture html %}
<ul class="navigation" id="navigation">
      <li>
        <a class="active" href="/">introduction</a>
      </li>
      <li><a class="inactive" href="">æternity</a>
	<ul>
	  <li><a href="/aepp-sdk-docs/Oracles.html">Oracles</a></li>
	  <li><a href="/aepp-sdk-docs/AENS-Python.html">Naming system</a></li>
	  <li><a href="/aepp-sdk-docs/Sofia.html">Sophia tutorial</a></li>
	</ul>
<!--

      https://dev.aepps.com/aepp-blockchain-explorer/README.html Javascript SDK
      https://dev.aepps.com/aepp-sdk-docs/JS-Examples.html Javascript SDK Examples
      https://dev.aepps.com/aepp-sdk-python/README.html Python SDK
      https://dev.aepps.com/aepp-sdk-docs/Glossary.html Glossary
-->      
</ul>
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}
