{% capture html %}
<ul class="navigation" id="navigation">
  <li><a class="active" href="/">introduction</a></li>
  <li>about æternity</li>
  <li><a href="/epoch/docs/docker.md">Docker install</a></li>
  <li><a href="/aepp-sdk-docs/Oracles.html">Oracles</a></li>
  <li><a href="/aepp-sdk-docs/AENS-Python.html">Naming system</a></li>
  <li><a href="/aepp-sdk-docs/Sofia.html">Sophia tutorial</a></li>
  <li>Javascript SDK</li>
  <li><a href="/aepp-sdk-js/README.html">Installation</a></li>
  <li><a href="/aepp-sdk-js/JS.html">Programming guide</a></li>
  <li><a href="/aepp-sdk-docs/JS-Examples.html">Annotated examples</a></li>
  <li>Python SDK</li>
  <li><a href="/aepp-sdk-python/README.md">Installation guide</a></li>
  <li><a href="">Programming guide</a></li>
  <li><a href="">Annotated examples</a></li>
  <li><a href="">API Documentation</a></li>
  <li>Online tools</li>
  <li><a href="http://contracts.aepps.com">Contract editor</a></li>
  <li><a href="https://explorer.aepps.com/#/">Blockchain explorer</a></li>
  <li>Components</li>
  <li><a href="/aepp-components/README.html">æpp components</a></li>
  <li><a href="/aepp-blockchain-explorer/README.html">Blockchain explorer</a></li>
</ul>
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}
